<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.intelligentz.malchat.malchat">

    <uses-sdk tools:overrideLibrary="com.luolc.emojirain" />

    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    ;
    <application
        android:name=".ReceiverApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustResize"
        tools:overrideLibrary="com.luolc.emojirain"
        tools:replace="android:icon">
        <service android:name=".SMSReceivingService" />

        <activity
            android:name=".view.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.MainActivity"
            android:label="@string/title_activity_main"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".view.ChatActivity" />
        <activity android:name=".view.NewChatActivity" />
        <activity
            android:name=".view.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.UserNameChoosingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.NewUserNameActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.SaveExistingUserName"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".view.UpdateUserNameActivity" />
        <activity
            android:name=".view.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.ScrollingActivityTest"
            android:label="@string/title_activity_scrolling_test"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".view.FAQActicity" />
        <activity android:name=".view.AboutUsActivity" />
        <activity android:name=".view.ContactUsActivity" />
        <activity android:name=".view.TermsActivity"></activity>
    </application>

</manifest>