<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.intelligentz.malchat.malchat">

    <uses-sdk tools:overrideLibrary="com.luolc.emojirain" />

    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    ;
    <application
        android:name="com.intelligentz.malchat.malchat.ReceiverApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustResize"
        tools:overrideLibrary="com.luolc.emojirain"
        tools:replace="android:icon">
        <service android:name="com.intelligentz.malchat.malchat.p" />

        <activity
            android:name="com.intelligentz.malchat.malchat.view.l"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.intelligentz.malchat.malchat.view.f"
            android:label="@string/title_activity_main"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.intelligentz.malchat.malchat.view.b" />
        <activity android:name="com.intelligentz.malchat.malchat.view.g" />
        <activity
            android:name="com.intelligentz.malchat.malchat.view.e"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.intelligentz.malchat.malchat.view.n"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.intelligentz.malchat.malchat.view.h"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.intelligentz.malchat.malchat.view.j"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.intelligentz.malchat.malchat.view.o" />
        <activity
            android:name="com.intelligentz.malchat.malchat.view.i"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.intelligentz.malchat.malchat.view.k"
            android:label="@string/title_activity_scrolling_test"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.intelligentz.malchat.malchat.view.d" />
        <activity android:name="com.intelligentz.malchat.malchat.view.a" />
        <activity android:name="com.intelligentz.malchat.malchat.view.c" />
        <activity android:name="com.intelligentz.malchat.malchat.view.m"></activity>
    </application>

</manifest>